#kaocha/v1
 {:tests           [{:id          :unit
                     :test-paths  ["src"]
                     :ns-patterns ["aoc.*"]
                     :skip-meta   [:pending]}]
  :plugins         [;; :kaocha.plugin/print-invocations
                    ;; :kaocha.plugin/profiling
                    ;; :kaocha.plugin/notifier
                    :kaocha.plugin/hooks]
  :capture-output? false
  :reporter        kaocha.report/dots
  :color?          true}