em {
  font-style: normal !important;
}

html:not(.dark) {
  background-color: #f4f3f3;
}

html.dark {
  background-color: #222831 !important;
}

body {
  background: transparent !important;
}

html:not(.dark) pre {
  background-color: #f1f5f9 !important;
  color: #7aaac4 !important;
}

.font-display {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.dark em {
  color: #fff !important;
  text-shadow: 0 0 5px #fff !important;
}

.dark pre {
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}

html:not(.dark) em {
  color: #000 !important;
  text-shadow: 0 0 2px #000 !important;
}

.viewer-result:first-child {
  display: none !important;
}

.notebook-viewer > pre > code {
  background: transparent !important;
}

.notebook-viewer
  :is(:where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))),
.markdown-viewer
  :is(:where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  background-color: transparent;
}
